# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints  # ✅ already a folder, remove trailing slash
.env/
.venv/
env/
*.log

# Node
node_modules/

# Mac/VSCode/etc
.DS_Store
.vscode/

# Ignore all CSV and JSON files
*.csv
*.json

# Secrets
scraping/reddit_secrets.py
